/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #212526;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #ebebeb;
}

/* BTN */
.btn {
    cursor: pointer;
}

/* TRANSITION */

a,
.btn {
    transition: all 300ms ease;
}

/* NAV BAR*/
nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    position: sticky;
    top: 0;
    background-color: #212526;
}

nav.active {
    background-color: #212526;
}

.nav-links {
    list-style: none;
    font: 18px;
    gap: 20px;
    margin-left: -30px;
}

a {
    color: #ebebeb;
    text-decoration: none;
}

a:hover {
    color: #34f3f0;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.logo {
    font-size: 22px;
    letter-spacing: 2px;
    color: #ebebeb;
    font-weight: lighter;
}

nav {
    height: 60px;
}

ul {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.8s ease-out;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #ebebeb;
}

ul.active {
    transform: translateX(0);
    background-color: #212526;
    height: 100vh;
    padding-top: 100px;
}


/* Hamburger Menu */
.menu-btn div {
    height: 3px;
    width: 24px;
    background-color: #7b7b7b;
    margin: 4px;
    transition: all 0.3s ease;
}

.menu-btn.active div.line2 {
    display: none;
}

.menu-btn.active div.line1 {
    transform: rotate(-45deg) translateY(5px);
}

.menu-btn.active div.line3 {
    transform: rotate(45deg) translateY(-5px);
}

/* ANIMATION */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* HERO SECTION */
#hero-section {
    padding: 0 30px;
    margin-bottom: 40px;
    height: 100vh;
}

.hero-content-section {
    margin-top: 50px;
}

.hero-name {
    text-transform: uppercase;
    font-size: 42px;
    margin: 6px 0;
    color: #ebebeb;
}

.hero-name span {
    color: #34f3f0;
}

.hero-btn-container {
    margin-top: 30px;
}

.hero-btn-container button {
    padding: 8px 16px;
}

.download-cv {
    background-color: #34f3f0;
    border: none;
    color: #373737;
}

.contact-btn {
    background-color: transparent;
    border: 1px solid #34f3f0;
    color: #34f3f0
}

.social-media-container {
    margin-top: 10px;
}

.profile-pic {
    /* display: none; */
}

.profile-pic img {
    width: 200px;
    margin-top: 100px;
}

/* PATTERNS */
.pattern {
    position: absolute;
    display: none;
}

/* ABOUT ME */
#about,
#projects,
#contact {
    /* height: 00px; */
    padding: 0 30px;
    margin-bottom: 120px;
}

#about,
#experience,
#projects,
#contact,
div {
    color: #ebebeb;
}

.section-title p {
    font-weight: lighter;
}

.section-title h2 {
    font-size: 32px;
    margin: 10px 0;
}

.about-content-block img {
    width: 26px;
    margin-bottom: 16px;
}

.about-content-block div h4 {
    color: #34f3f0;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.about-content-block div p {
    margin: 4px 0;
}

.experience-block,
.education-block {
    border: 1px solid #34f3f0;
    padding: 26px 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text-block {
    margin-top: 30px;
}

.about-text-block p {
    line-height: 1.3;
}

/* PROJECTS */
#projects .section-title {
    margin-bottom: 30px;
}

.project-block {
    border: 1px solid #34f3f0;
    margin-bottom: 50px;
}

.project-image-block {
    overflow: hidden;
}

.project-image-block img {
    width: 100%;
    overflow: hidden;
    display: block;
    transition: all ease 0.5s;
}

.project-image-block img:hover {
    transform: scale(1.1);

}

.project-description {
    padding: 30px 16px;
}

.project-description h4 {
    font-size: 24px;
    margin-bottom: 6px;
}

.project-description p {
    line-height: 1.4;
    margin-bottom: 6px;
}

.project-description button {
    background-color: transparent;
    color: #34f3f0;
    cursor: pointer;
    border: 1px solid #34f3f0;
    padding: 6px 10px;
    transition: all ease 0.3s;
}

.project-description button:hover {
    background-color: #34f3f0;
    color: #212526;
}

/* CONTACT */

.contact-container {
    margin-top: 40px;
}

.contact-block {
    display: flex;
    align-items: center;
    border: 1px solid #34f3f0;
    padding: 16px 16px;
    margin-bottom: 20px;
}

.contact-block img {
    margin-right: 10px;
}

/* Media querries */
@media only screen and (min-width: 768px) {

    .menu-btn {
        display: none;
    }

    ul {
        position: initial;
        display: flex;
        flex-direction: row;
        width: 100%;
        transform: translateX(0);
        transition: none;
    }

    .nav-links {
        margin: 0;
        width: auto;
        gap: 50px;
    }

    #desktop-nav {
        display: flex;
        justify-content: space-between;
    }

    .profile-pic {
        display: block;
    }

    .profile-pic img {
        width: 350px;
        margin-right: 80px;
    }

    #hero-section {
        display: flex;
        height: 600px;
        align-items: center;
        justify-content: center;
    }

    .pattern {
        position: absolute;
        display: block;
    }

    .ellipse {
        left: 30px;
        top: 80px;
        transform: scale(0.4);
        display: none;
    }

    .polygon {
        left: 8vw;
        top: 120px;
        transform: scale(0.7);
    }

    .rectangle {
        left: 26vw;
        top: 380px;
        transform: scale(0.6);
    }

    .about-content-block {
        display: flex;
    }

    .about-content-block div {
        margin-right: 20px;
    }

    .experience-block,
    .education-block {
        width: 100%;
    }

    .about-text-block {
        margin-top: 10px;
    }

    .project-container {
        display: flex;
    }

    .project-container .project-block {
        margin-right: 20px;
    }

    .contact-container {
        display: flex;
    }

    .contact-container div {
        width: 100%;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 1100px) {
    body {
        width: 1000px;
        margin: 0 auto;
    }

    .polygon {
        left: 20vw;
    }

    .rectangle {
        left: 40vw;
    }

    .experience-block,
    .education-block {
        width: 460px;
    }
}